:root {
    --rows: 100;
    --columns: 100;
}


body {
    display: flex;
    justify-content: center;
}

#grid-container {
    height: 500px;
    width: 500px;
    border: 3px solid black;
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
}
